name: Assign Issue

on:
  schedule:
    - cron: 0 0 * * *
  issue_comment:
    types: [created]
  workflow_dispatch:

permissions:
  issues: write

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Assign the user or unassign stale assignments
        uses: takanome-dev/assign-issue-action@edge
        with:
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          days_until_unassign: 30
          maintainers: 'koppor'
