name: automerge
on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  github-actions:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'koppor' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          show-progress: ''
      - name: Merge PR
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
